PORT=5001
FRONTEND_URL=http://localhost:3000
DATABASE_URL="postgresql://neondb_owner:npg_iLOuodY1cJ9P@ep-dry-darkness-atk6cxwm.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require"
CLERK_SECRET_KEY="sk_test_YNNBYRns6qxcE5qSvV42iympro6LVFnkCLVdJ4I8W4"
LIVEBLOCKS_WEBHOOK_SECRET="whsec_UQXFwo6wkC/6pmIkGOgURaM/uPpA86go"
LIVEBLOCKS_SECRET_KEY="sk_dev_WfIKFOPWWTQl82xYPHjgVQLEevoN8Lf-LIQEttf8kkUN3kW-Rud71gF0rZKGQQ5K"